#root {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.home-page-wrapper {
    display: flex;
    flex-direction: column; /* Para empilhar o h1 e o card */
    justify-content: center; /* Centraliza verticalmente! */
    align-items: center; /* Centraliza horizontalmente */
    min-height: 100vh; /* OBRIGATÓRIO: Garante que o wrapper ocupe a altura total da tela */
    width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4f502c;
}

.input-treino {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.input-treino:focus {
  border-color: #ffffff;
  box-shadow: 0 0 8px rgba(108, 92, 231, 0.5);
}

button:hover {
  background-color: #4bcfc4;
}

.text-card{
  color: cornsilk;
}
